body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    align-items: center;
}

.game-div {
    width: 100%;
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: transform 0.3s, box-shadow 0.3s; /* Add transition for hover effect */
}

.game-div:hover {
    transform: translateY(-5px); /* Move the card up when hovered */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Increase box shadow when hovered */
}

.header-row {
    justify-content: center;
    display: flex;
}

header {
    background-color: #1f2833;
    padding: 20px;
    color: white;
    display: flex;        
    justify-content: center;
    text-align: center;
}

.main-title {
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    line-height: 1.2;
    font-family: 'Roboto', Arial, sans-serif;
    background: linear-gradient(to right, #1f2833, #0b3d91);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 24px;
    padding: 24px;
}

h5 {
    font-weight: 500;
    color: #0b3d91;
}

p {
    font-weight: 400;
    color: #1f2833;
}

#last-updated {
    font-size: 16px;
    font-weight: 400;
    color: #231919;
    text-align: center;
    margin-top: 5px;
}

.score-table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0;
}

.score-table th,
.score-table td {
    text-align: center;
    padding: 8px;
    width: 14%; /* Add this line to increase spacing for each quarter */
}

.score-table th {
    font-weight: bold;
}

.score-table .total { /* Add this new class for styling the total */
    font-weight: bold;
    font-size: 25px;
}

