<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Game Info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        let gameData = [];
        function updateScores() {
            fetch('/game_data')
                .then(response => response.json())
                .then(data => {
                    gameData = data;
                    displayGames();
                })
                .catch(error => console.error('Error fetching scores:', error));
        }

        function displayGames() {
            const gameList = document.getElementById('game-list');
            gameList.innerHTML = '';

            let row = document.createElement('div');
            row.className = 'row';

            gameData.forEach((game, index) => {
                const col = document.createElement('div');
                col.className = 'col-md-6';

                const gameDiv = document.createElement('div');
                gameDiv.className = 'game-div mb-4';
                gameDiv.innerHTML = `
                    <h5>${game.teams}</h5>
                    <p>
                        ${game.status}<br>
                        ${game.score ? game.score : ''}
                    </p>
                    <hr>
                `;
                col.appendChild(gameDiv);
                row.appendChild(col);

                if ((index + 1) % 2 === 0) {
                    gameList.appendChild(row);
                    row = document.createElement('div');
                    row.className = 'row';
                }
            });

            if (gameData.length % 2 !== 0) {
                gameList.appendChild(row);
            }

            setTimeout(updateScores, 5000);
        }

    </script>
</head>
<body onload="updateScores()">
    <div class="container">
        <h1 class="text-center mt-4 mb-4">NBA Game Info</h1>
        <div id="game-list"></div>
    </div>
</body>
</html>
