<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <title>NBA Over/Under Game Data</title>
</head>
<body>

    <div class="container mt-4">
        <div class="row header-row">
            <div class="col-12 text-center">
                <h1 class="mb-4 main-title">NBA Over/Under Game Data</h1>
                <p id="last-updated">Data Last updated: N/A</p>
            </div>
        </div>
        <div id="game-list" class="game-grid">
            <!-- The game list will be populated here -->
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybBud7mqnr3m6Dk5f4J4dT//4+dX2eP4TB9S5MvB5F/7E4Zp5" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script>
        let gameData = [];
        let firstGameStarted = false;
        let lastOverUnderUpdate = null;
    
        let allGamesEnded = false;

        let stopUpdatingOverUnder = false;

        async function updateScores() {
            try {
                const response = await fetch('/game_data');
                const data = await response.json();
                gameData = data;
                displayGames();

                const currentTime = new Date();

                stopUpdatingOverUnder = gameData.every(game => /^Final/.test(game.status));
                if (!stopUpdatingOverUnder && (gameData.some(game => game.status !== 'Scheduled'))) {
                    if (!lastOverUnderUpdate || (currentTime - lastOverUnderUpdate) >= 60000) {
                        lastOverUnderUpdate = currentTime;
                        updateOverUnderData();
                    }
                }
            } catch (error) {
                console.error('Error fetching scores:', error);
            }
        }
    
        async function updateOverUnderData() {
            if (stopUpdatingOverUnder) {
                return;
            }
            if (gameData.some(game => game.status !== 'Scheduled' && game.status !== 'Final')) {
                const currentTime = new Date();
                if (!lastOverUnderUpdate || (currentTime - lastOverUnderUpdate) >= 60000) {
                    lastOverUnderUpdate = currentTime;
                }
            }
            setTimeout(updateOverUnderData, 60000); // Call updateOverUnderData() again after 60 seconds
        }
    
        setInterval(updateScores, 5000); // Set the interval to call updateScores every 5 seconds
    
        function displayGames() {
            const gameList = document.getElementById('game-list');
            gameList.innerHTML = '';

            const lastUpdated = new Date().toLocaleString();
            document.getElementById('last-updated').textContent = `Data Last updated: ${lastUpdated}`;

            const dateTimeRegex = /^\d{2}\/\d{2}\/\d{4} \d{2}:\d{2} [AP]M$/;

            gameData.forEach((game, index) => {
                const gameDiv = document.createElement('div');
                gameDiv.className = 'game-div';

                // Display the game content (teams, status, score)
                gameDiv.innerHTML = `
                    <div class="game-content">
                        <div class="game-details">
                            <h4>${game.teams}</h4>
                            <p class="game-status">${game.status}</p>
                        </div>
                        ${dateTimeRegex.test(game.status) ? `
                            <div class="team-logos-container">
                                <img src="${game.away_team_logo}" alt="Away Team Logo" class="team-logo big-logo">
                                <img src="${game.home_team_logo}" alt="Home Team Logo" class="team-logo big-logo">
                            </div>
                        ` : ''}
                        <div class="game-score">
                            ${game.score ? game.score : ''}
                        </div>
                        <hr>
                        <div>
                            ${game.away_team_top_players}
                            </br>
                            ${game.home_team_top_players}
                        </div>
                    </div>
                `;
                gameList.appendChild(gameDiv);
            });
        }

        updateScores(); // Call updateScores() once when the page loads
        updateOverUnderData(); // Call updateOverUnderData() once when the page loads
    </script>        
           
</body>
</html>